@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

:root {
  --col1: #f0e3ca;
  --col2: #ff8303;
  --col3: #0e0d0b;
  --col4: #1b1a17;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  margin: 0;
  background-color: var(--col1);
}

::-webkit-scrollbar {
  width: 0;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  background-color: var(--col2);
  box-shadow: 0 0 1em 0.1em #0e0d0b70;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  width: 100%;
  padding-block: 0.4em;
  float: left;
}

.navbar ul:first-child {
  padding-left: 0;
}

.navbar li {
  float: left;
  font-family: Noto sans, sans-serif;
  font-size: 1.5em;
}

.navbar li a {
  text-align: center;
  text-decoration: none;
  transition: 0.1s;
  color: var(--col1);
  padding: 0.8em;
}

.navbar li a:hover {
  color: var(--col4);
  transition: 0.1s;
}

.right-li {
  float: right;
}

.container {
  margin-top: 5em;
  text-align: center;
}

.postit {
  margin: 1em;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--col4);
  width: 20rem;
  height: 12.3rem; /* rettangolo aureo */
  box-shadow: 0 0 1em #000000a9;
  overflow: scroll;
}

.postit h1 {
  text-align: left;
  padding-block: 0.3em;
  padding-inline: 0.8em;
  font-family: Noto sans, sans-serif;
  font-size: 1.4rem;
  margin: auto;
  color: var(--col1);
  position: sticky;
  top: 0;
  background-color: var(--col3);
  box-shadow: 0 0 1em 0.8em var(--col3);
}

.postit p {
  text-align: left;
  font-family: Noto sans, sans-serif;
  font-size: 1rem;
  padding-inline: 0.8em;
  color: var(--col1);
}

.testo {
  padding: 0.5em;
}
