* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: sans-serif;
}

#text {
  text-transform: capitalize;
}

#sample {
    visibility: hidden;
    text-transform: capitalize;

    width: fit-content;
    height: fit-content;
}
